<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <a href="/flights/new">Add Flights</a>
    <a href="/flights">All Flights</a>
</head>
<body>
    <h1><%=title%></h1>
    <section>
        <div>Airline: <%= flight.airline %></div>
        <div>Airport: <%= flight.airport  %> </div>
        <div>Flight Number: <%= flight.flightNo %> </div>
        <div>Departure: <%= flight.departs %> </div>
    </section>
    <section>
        <h2> Ticket Information</h2>
    <% if (flight.tickets.length) { %>
        <table>
            <thead>
                <tr>
                    <th>Seat</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <% flight.tickets.forEach(function(ticket){ %>
                    <tr>
                        <td><%= ticket.seat  %> </td>
                        <td><%= ticket.price %> </td>
                    </tr>
                <% }) %> 
            </tbody>
        </table>
    <% } else { %>
        <h3>No ticket information</h3>
    <% } %>   
        <h2>Add a Ticket</h2>
        <form action="/flights/<%=flight._id%>/tickets"
            method="POST">
           <label>Seat:</label> 
           <input type="text" name="seat" required pattern="[A-F][1-9]\d?">
           <label>Price:</label>
           <input type="number" name="price">
           <button type="submit">Add Ticket</button>
        </form>
    </section>
</body>
</html>